body {
  font-family: "Muller";
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

@media screen and (max-width: 940px) and (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

.container-fluid {
  width: 100%;
  text-align: center;
}

.float__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 31px;
}

@media screen and (max-width: 940px) and (min-width: 768px) {
  .float__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  .float__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.float__menu .contact__number {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: bold;
  line-height: 22px;
}

.float__menu nav {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.14px;
}

@media screen and (max-width: 670px) and (min-width: 425px) {
  .float__menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.float__menu nav .nav__button {
  display: none;
}

@media screen and (max-width: 670px) and (min-width: 425px) {
  .float__menu nav .nav__button {
    display: block;
  }
}

.float__menu nav .nav__button .hamburger__button {
  background-color: #000;
  width: 35px;
  height: 4px;
  margin: 3px;
  display: block;
  border-radius: 5px;
}

@media screen and (max-width: 940px) and (min-width: 768px) {
  .float__menu nav {
    margin: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .float__menu nav {
    margin: 10px 0;
  }
}

.float__menu nav a {
  color: #1c1c1c;
  padding: 0 15px;
}

.float__menu nav a:hover {
  color: #e46262;
}

.float__menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 670px) and (min-width: 425px) {
  .float__menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    display: none;
  }
  .float__menu nav ul li {
    padding: 5px;
  }
}

.float__menu .callback__button {
  font-family: "Proxima Nova Rg", sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #c91111;
}

.float__menu .callback__button:hover {
  background-color: #0f0f0f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c10b0b), to(#e42626));
  background-image: linear-gradient(to top, #c10b0b 0%, #e42626 100%);
}

header {
  margin-bottom: 20px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 640px) and (min-width: 425px) {
  .header__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header__content .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content .header__logo .logo__name {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: bold;
  font-size: 23px;
  margin-left: 10px;
}

.header__content .header__title {
  font-family: "Proxima Nova Lt", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #1c1c1c;
  line-height: 22px;
  letter-spacing: 0.14px;
}

.header__content .header__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content .header__app .app__callback-number {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #1c1c1c;
  letter-spacing: 0.18px;
  line-height: 22px;
}

.header__content .header__app .app__button {
  margin-left: 30px;
}

.header__content .header__app .app__button a {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: inline-block;
}

.header__content .header__app .app__button a svg {
  fill: #000000;
  width: 20px;
  height: 20px;
}

.header__content .header__app .app__button a img {
  height: 20px;
}

.header__content .header__app .app__button a:hover {
  border-color: #e42626;
}

.header__content .header__app .app__button a:hover svg {
  fill: #e42626;
}

.top__content {
  background-image: url(../img/bg__top.jpg);
  padding-top: 130px;
  padding-bottom: 153px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  .top__content .content__info {
    width: 90%;
    margin: 0 auto;
  }
}

.top__content .content__info .info__head {
  color: #ffffff;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 65px;
}

.top__content .content__info .info__head span {
  font-size: 40px;
  text-transform: uppercase;
}

.top__content .content__info .info__title {
  color: #ffffff;
  font-family: "Proxima Nova Lt", sans-serif;
  font-weight: 300;
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 91px;
}

.top__content .content__info .info__title span {
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 700;
}

.top__content .content__info .info__button .button__link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700px;
  line-height: 26px;
  font-family: "Proxima Nova Rg", sans-serif;
  padding: 25px 49px 25px 43px;
  background-color: #c91111;
  border-radius: 5px;
}

.top__content .content__info .info__button .button__link:hover {
  background-color: #0f0f0f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c10b0b), to(#e42626));
  background-image: linear-gradient(to top, #c10b0b 0%, #e42626 100%);
}

#services__provided {
  padding-top: 100px;
  padding-bottom: 98px;
}

.section__name {
  color: #1c1c1c;
  font-size: 30px;
  font-weight: 700;
  font-family: "Proxima Nova Bold", sans-serif;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 22px;
}

#services__provided .provided__block {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #services__provided .provided__block {
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#services__provided .provided__block .provided__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  margin-bottom: 95px;
}

@media screen and (max-width: 767px) {
  #services__provided .provided__block .provided__item {
    width: 40%;
  }
  #services__provided .provided__block .provided__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 555px) and (min-width: 425px) {
  #services__provided .provided__block .provided__item {
    width: 50%;
  }
}

#services__provided .provided__block .provided__item img {
  margin-right: 30px;
}

#services__provided .provided__block .provided__item .item__title {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.16px;
}

#about__services {
  background-image: url(../img/about__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  padding-bottom: 98px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #about__services .container {
    width: 90%;
    margin: 0 auto;
  }
}

#about__services .section__name {
  color: #ffffff;
  margin-bottom: 79px;
}

#about__services .about__title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 85px;
}

#about__services .about__title .about__title-content {
  font-size: 16px;
  font-family: "Proxima Nova Lt", sans-serif;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.16px;
}

#about__services .about__title .about__title-content:first-child {
  margin-bottom: 30px;
}

#about__services .about__statistics {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #about__services .about__statistics {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#about__services .about__statistics .statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 154px;
  font-family: "Proxima Nova Rg", sans-serif;
  text-align: center;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #about__services .about__statistics .statistics__item {
    width: 50%;
    margin-bottom: 15px;
  }
}

#about__services .about__statistics .statistics__item .item__number {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-bottom: 29px;
}

#about__services .about__statistics .statistics__item .item__number span {
  font-size: 24px;
  letter-spacing: 0.24px;
}

#about__services .about__statistics .statistics__item .item__title {
  font-size: 16px;
  font-weight: 300;
  font-family: "Proxima Nova Lt", sans-serif;
  line-height: 22px;
  letter-spacing: 0.16px;
}

#use__services {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 98px;
}

#use__services .services__box {
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 650px) and (min-width: 425px) {
  #use__services .services__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
}

#use__services .services__box .services__item {
  width: 33.3333%;
  text-align: center;
}

@media screen and (max-width: 650px) and (min-width: 425px) {
  #use__services .services__box .services__item {
    width: 50%;
    margin-bottom: 15px;
  }
}

#use__services .services__box .services__item img {
  height: 90px;
}

#use__services .services__box .services__item .item__title {
  margin-top: 54px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.16;
  font-weight: 300;
  font-family: "Proxima Nova Lt", sans-serif;
  color: #1c1c1c;
}

#use__services .services__box .services__item:last-child .item__title {
  font-weight: 700;
  font-family: "Proxima Nova Bold", sans-serif;
}

#advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #advantages {
    display: none;
  }
}

#advantages .section__name {
  line-height: 30px;
}

#advantages .advantages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media screen and (max-width: 940px) and (min-width: 768px) {
  #advantages .advantages__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #advantages .advantages__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#advantages .advantages__info .info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 940px) and (min-width: 768px) {
  #advantages .advantages__info .info__content {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #advantages .advantages__info .info__content {
    margin-bottom: 20px;
  }
}

#advantages .advantages__info .info__content .position__name {
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 45px;
  letter-spacing: 0.13px;
  margin-bottom: 34px;
}

#advantages .advantages__info .info__content .position__name li {
  text-align: right;
  color: #000000;
}

#advantages .advantages__info .info__content .comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  margin-left: 29px;
}

#advantages .advantages__info .info__content .comparison .comparison__content {
  padding: 34px 0;
  text-align: center;
}

#advantages .advantages__info .info__content .comparison .comparison__content .comparison__name {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.14;
}

#advantages .advantages__info .info__content .comparison .comparison__content li {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: 0.13px;
}

#advantages .advantages__info .info__content .comparison .comparison__one {
  color: #ffffff;
  -webkit-box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
          box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
  background-color: #26b83a;
  width: 50%;
}

#advantages .advantages__info .info__content .comparison .comparison__two {
  color: #000;
  width: 50%;
  border: 1px solid #e8e8e8;
}

#advantages .advantages__info .info__content .comparison .comparison__two li {
  color: #000000;
}

#advantages .advantages__info .info__statistics {
  margin-left: 40px;
}

@media screen and (max-width: 940px) and (min-width: 768px) {
  #advantages .advantages__info .info__statistics {
    text-align: center;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #advantages .advantages__info .info__statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#advantages .advantages__info .info__statistics .statistics__name {
  margin-bottom: 34px;
  color: #1c1c1c;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.16px;
}

#advantages .advantages__info .info__statistics .statistics__content {
  margin-bottom: 47px;
}

#advantages .advantages__info .info__statistics .statistics__content li {
  color: #1c1c1c;
  line-height: 45px;
  font-weight: 300;
  letter-spacing: 0.16px;
  font-family: "Proxima Nova Rg", sans-serif;
}

#advantages .advantages__info .info__statistics .statistics__content li .icon {
  width: 25px;
  margin-right: 20px;
}

#advantages .advantages__info .info__statistics .statistics__content li .number {
  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
}

#advantages .advantages__info .info__statistics .statistics__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
  line-height: 40px;
  font-family: "Proxima Nova Bold", sans-serif;
  padding: 26px 85px 27px 80px;
  background-color: #c91111;
  border-radius: 5px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #advantages .advantages__info .info__statistics .statistics__button {
    padding: 10px 45px 10px 45px;
  }
}

#advantages .advantages__info .info__statistics .statistics__button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c11717), to(#e42626));
  background-image: linear-gradient(to top, #c11717 0%, #e42626 100%);
}

#application {
  background-image: url("../img/application__bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

#application .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 830px) and (min-width: 425px) {
  #application .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #application .container {
    width: 90%;
    margin: 0 auto;
  }
}

#application .application__content {
  width: 530px;
}

@media screen and (max-width: 830px) and (min-width: 425px) {
  #application .application__content {
    width: 100%;
  }
}

#application .application__content .content__name {
  color: #ffffff;
  font-family: "Muller", sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1.5px;
  margin-bottom: 110px;
}

#application .application__content .content__list {
  width: 530px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #application .application__content .content__list {
    width: 100%;
  }
}

#application .application__content .content__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #ffffff;
  font-family: "Muller", sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #application .application__content .content__list li:first-child {
    display: inline-block;
  }
}

#application .application__content .content__list li .list__number {
  font-weight: 400;
  font-family: "Muller", sans-serif;
  font-size: 18px;
  color: #e41e1e;
  padding-right: 20px;
}

#application .application__content .content__list li .underline {
  color: #ffffff;
  text-decoration: underline;
  margin: 0 4px;
}

#application .application__content .content__list li .underline:hover {
  color: #e41e1e;
}

@media screen and (max-width: 630px) and (min-width: 425px) {
  #application .application__content .content__list li .mobile__controle {
    display: inline-block;
    padding-left: 36px;
  }
}

#application .application__button {
  width: 260px;
  margin-top: 33px;
  margin-left: 162px;
}

@media screen and (max-width: 940px) {
  #application .application__button {
    margin-left: 40px;
  }
}

@media screen and (max-width: 830px) and (min-width: 425px) {
  #application .application__button {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #application .application__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
  }
}

#application .application__button a img {
  margin-bottom: 30px;
}

@media screen and (max-width: 830px) and (min-width: 768px) {
  #application .application__button a:first-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #application .application__button a:first-child {
    margin-right: 10px;
  }
}

@media screen and (max-width: 470px) and (min-width: 425px) {
  #application .application__button a:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

#reviews {
  padding-top: 100px;
  background-color: #f5f5f5;
  padding-bottom: 95px;
}

#reviews .section__name {
  font-size: 30px;
  font-weight: 700;
  font-family: "Muller", sans-serif;
  letter-spacing: 1.5px;
  color: #313131;
  margin-bottom: 80px;
}

#reviews .reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reviews .block__menu {
  position: relative;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (pointer: coarse) {
  #reviews .block__menu {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #reviews .block__menu {
    width: 70%;
  }
}

#reviews .reviews__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

@media (pointer: coarse) {
  #reviews .reviews__menu {
    height: 4.5em;
  }
}

#reviews .reviews__menu .menu__link {
  font-family: "Muller", sans-serif;
  font-weight: 500;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 13px 13px 9px 13px;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#reviews .reviews__menu .menu__link:hover {
  color: #e42626;
}

#reviews .reviews__menu .active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid #e42626;
  border-radius: 5px;
  color: #e50000;
}

#reviews .menu__shadow {
  width: 4.5em;
  height: 3em;
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 245, 245, 0)), color-stop(80%, #f5f5f5));
  background: linear-gradient(to right, rgba(245, 245, 245, 0), #f5f5f5 80%);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

#reviews .is-visible {
  opacity: 1;
}

#reviews .menu__shadow--start {
  left: -2px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#reviews .menu__shadow--end {
  right: -4px;
}

#reviews .reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  position: relative;
  height: 19em;
}

@media (pointer: coarse) {
  #reviews .reviews__content {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #reviews .reviews__content {
    width: 85%;
  }
}

#reviews .reviews__content .reviews__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reviews .reviews__content .reviews__content-block.hidden-content {
  display: none;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #reviews .reviews__content .reviews__content-block {
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    height: 19em;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) and (pointer: coarse) {
  #reviews .reviews__content .reviews__content-block {
    height: 22em;
  }
}

#reviews .reviews__content .content__shadow {
  width: 4.5em;
  height: 100%;
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 245, 245, 0)), color-stop(80%, #f5f5f5));
  background: linear-gradient(to right, rgba(245, 245, 245, 0), #f5f5f5 80%);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

@media screen and (max-width: 590px) {
  #reviews .reviews__content .content__shadow {
    width: 3em;
  }
}

#reviews .reviews__content .is-active {
  opacity: 1;
}

#reviews .reviews__content .content__shadow--start {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 590px) and (min-width: 425px) {
  #reviews .reviews__content .content__shadow--start {
    left: -2px;
    top: -2px;
  }
}

#reviews .reviews__content .content__shadow--end {
  right: 0;
}

@media screen and (max-width: 590px) and (min-width: 425px) {
  #reviews .reviews__content .content__shadow--end {
    right: -2px;
    top: -2px;
  }
}

#reviews .reviews__content .reviews__arrow {
  margin: auto 0;
  margin-left: 70px;
  color: #cccccc;
  cursor: pointer;
}

#reviews .reviews__content .reviews__arrow:first-child {
  margin-right: 70px;
  margin-left: 0;
}

#reviews .reviews__content .reviews__arrow:hover {
  color: #e42626;
}

@media screen and (max-width: 840px) and (min-width: 768px) {
  #reviews .reviews__content .reviews__arrow {
    margin-left: 30px;
  }
  #reviews .reviews__content .reviews__arrow:first-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #reviews .reviews__content .reviews__arrow {
    display: none;
  }
}

#reviews .reviews__content .hidden {
  display: none;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #reviews .reviews__content .hidden {
    display: block;
  }
}

#reviews .reviews__content .content__item {
  margin: 0 10px;
  width: 300px;
}

#reviews .reviews__content .content__item .item__img {
  width: 300px;
  z-index: 1;
  position: relative;
}

#reviews .reviews__content .content__item .item__play {
  position: absolute;
  z-index: 22;
  bottom: 20px;
  left: 20px;
  font-size: 25px;
  color: #ffffff;
}

#reviews .reviews__content .content__item .item__name {
  cursor: pointer;
  margin-top: 19px;
  width: 100%;
  font-family: "Muller", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #313131;
  text-align: left;
}

#reviews .reviews__content .content__item .item__name:hover {
  color: #e42626;
  text-decoration: underline;
  -webkit-text-decoration-color: #e42626;
          text-decoration-color: #e42626;
}

#partners {
  padding: 100px 0;
}

#partners .section__name {
  margin-bottom: 70px;
  color: #313131;
  font-family: "Muller", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#partners .partners__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12em;
}

@media (pointer: coarse) {
  #partners .partners__slider {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #partners .partners__slider {
    width: 75%;
    position: relative;
    margin: 0 auto;
    height: 12em;
  }
}

#partners .partners__slider .partners__slider-arrow {
  color: #cccccc;
  margin-right: 70px;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 890px) and (min-width: 768px) {
  #partners .partners__slider .partners__slider-arrow {
    margin-left: 15px;
  }
  #partners .partners__slider .partners__slider-arrow:first-child {
    margin-right: 15px;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #partners .partners__slider .partners__slider-arrow {
    display: none;
  }
}

#partners .partners__slider .partners__slider-arrow:last-child {
  margin-right: 0;
  margin-left: 70px;
}

#partners .partners__slider .partners__slider-arrow:hover {
  color: #e42626;
}

#partners .partners__slider .slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #partners .partners__slider .slider__box {
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    height: 12em;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) and (pointer: coarse) {
  #partners .partners__slider .slider__box {
    height: 13em;
  }
}

#partners .partners__slider .slider__box .slider__item {
  margin: 0px 10px;
  width: 220px;
  position: relative;
}

#partners .partners__slider .slider__box .slider__item.hidden {
  display: none;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  #partners .partners__slider .slider__box .slider__item.hidden {
    display: block;
  }
}

#partners .partners__slider .slider__box .slider__item .item__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  text-align: center;
  font-family: "Muller", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.6px;
  -webkit-box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
          box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
  background-color: #26b83a;
  color: #ffffff;
  padding: 23px 17px 22px 17px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#partners .partners__slider .slider__box .slider__item:hover .item__hover {
  opacity: 1;
}

#partners .partners__slider .partners__shadow {
  width: 4em;
  height: 100%;
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(80%, #ffffff));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 80%);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

@media screen and (max-width: 590px) {
  #partners .partners__slider .partners__shadow {
    width: 3em;
  }
}

#partners .partners__slider .is-visible {
  opacity: 1;
}

#partners .partners__slider .partners__shadow--start {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 590px) and (min-width: 425px) {
  #partners .partners__slider .partners__shadow--start {
    left: -2px;
    top: -2px;
  }
}

#partners .partners__slider .partners__shadow--end {
  right: 0;
}

@media screen and (max-width: 590px) and (min-width: 425px) {
  #partners .partners__slider .partners__shadow--end {
    right: -2px;
    top: -2px;
  }
}

#tariff {
  padding-top: 100px;
  padding-bottom: 195px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 940px) and (min-width: 768px) {
  #tariff {
    padding-bottom: 100px;
  }
}

#tariff .section__name {
  font-family: "Muller", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: left;
  color: #313131;
  margin-bottom: 39px;
}

#tariff .section__title {
  font-family: "Muller", sans-serif;
  font-weight: bold;
  color: #313131;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 50px;
}

#tariff .tariff__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 39px;
}

#tariff .tariff__options .option__name {
  font-family: "Muller", sans-serif;
  font-weight: 300;
  color: #313131;
  font-size: 16px;
}

#tariff .tariff__options .options__button a {
  color: #313131;
  font-family: "Muller", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

#tariff .tariff__options .options__button .button__link {
  text-transform: uppercase;
  padding: 11px 15px 12px 15px;
}

#tariff .tariff__options .options__button .button__link:hover {
  color: #e42626;
}

#tariff .tariff__options .options__button .active {
  color: #e42626;
  border: 2px solid #e42626;
  border-radius: 5px;
}

#tariff .tariff__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 934px) and (min-width: 768px) {
  #tariff .tariff__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#tariff .tariff__list .tariff__list-item {
  height: 920px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #e8e8e8;
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tariff .tariff__list .tariff__list-item:nth-child(2) {
  width: 320px;
  border-left: none;
  border-right: none;
}

@media screen and (max-width: 934px) and (min-width: 768px) {
  #tariff .tariff__list .tariff__list-item {
    margin: 15px;
    width: 40%;
  }
  #tariff .tariff__list .tariff__list-item:nth-child(2) {
    width: 40%;
  }
}

#tariff .tariff__list .tariff__list-item .item__name {
  margin-top: 52px;
  text-align: center;
  color: #000000;
  font-family: "Muller", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 29px;
}

#tariff .tariff__list .tariff__list-item .item__name span {
  font-weight: 700;
}

#tariff .tariff__list .tariff__list-item .item__img {
  margin-bottom: 30px;
}

#tariff .tariff__list .tariff__list-item .item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #f5f5f5;
  margin: 0 20px;
  border-bottom: 1px solid #f5f5f5;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#tariff .tariff__list .tariff__list-item .item__list .list__name {
  text-align: left;
  color: #000000;
  font-family: "Muller", sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 40px;
}

#tariff .tariff__list .tariff__list-item .item__list .list__name li {
  border-bottom: 1px solid #f5f5f5;
  padding-left: 11px;
}

#tariff .tariff__list .tariff__list-item .item__list .list__name li:last-child {
  border-bottom: none;
}

#tariff .tariff__list .tariff__list-item .item__list .list__name .special__item {
  font-size: 13px;
}

#tariff .tariff__list .tariff__list-item .item__list .list__name .last {
  line-height: 12px;
  padding: 8px 11px;
}

#tariff .tariff__list .tariff__list-item .item__list .list__value {
  text-align: right;
  font-family: "Muller", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 11px;
}

#tariff .tariff__list .tariff__list-item .item__list .list__value li {
  border-bottom: 1px solid #f5f5f5;
  padding-right: 11px;
  line-height: 40px;
  white-space: nowrap;
}

#tariff .tariff__list .tariff__list-item .item__cost {
  color: #000000;
  font-family: "Muller", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 40px;
  margin-top: auto;
}

#tariff .tariff__list .tariff__list-item .item__cost span {
  font-size: 24px;
  font-weight: bold;
}

#tariff .tariff__list .tariff__list-item .item__button {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tariff .tariff__list .tariff__list-item .item__button .button__link {
  color: #ffffff;
  background-color: #9a9a9a;
  font-weight: bold;
  font-family: "Muller", sans-serif;
  font-size: 18px;
  border-radius: 5px;
}

#tariff .tariff__list .tariff__list-item .item__button .consult__button {
  margin-bottom: 15px;
  padding: 19px 35px 18px 46px;
}

#tariff .tariff__list .tariff__list-item .item__button .personal__button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff2e00), to(#ff4c25));
  background-image: linear-gradient(to top, #ff2e00 0%, #ff4c25 100%);
}

#tariff .tariff__list .tariff__list-item .item__button .family__button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#008e00), to(#00a300));
  background-image: linear-gradient(to top, #008e00 0%, #00a300 100%);
}

#tariff .tariff__list .tariff__list-item .item__button .business__button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#001c67), to(#02388f));
  background-image: linear-gradient(to top, #001c67 0%, #02388f 100%);
}

#tariff .tariff__list .tariff__list-item .item__button .buy__button {
  margin-bottom: 50px;
  padding: 19px 64px 18px 76px;
}

#contacts {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f5f5f5), color-stop(50%, #ffffff));
  background: linear-gradient(to right, #f5f5f5 50%, #ffffff 50%);
  padding: 70px 0;
}

#contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contacts .form__box {
  width: 50%;
}

#contacts .form__content {
  margin-left: auto;
  margin-right: 80px;
  max-width: 320px;
}

@media screen and (max-width: 830px) and (min-width: 768px) {
  #contacts .form__content {
    margin-right: 20px;
  }
}

#contacts .form__content .input__setting {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 288px;
  font-size: 16px;
  color: #000000;
  padding: 15px;
  font-family: 'Muller', sans-serif;
}

#contacts .form__content .input__massage {
  height: 80px;
  resize: none;
  padding: 15px;
  font-family: 'Muller', sans-serif;
}

#contacts .form__content .form__content__name {
  color: #000000;
  font-family: "Muller", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 31px;
}

#contacts .form__content .form__content__title-name {
  font-family: "Muller", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #000000;
  margin-bottom: 14px;
  margin-top: 19px;
}

#contacts .form__content .form__content__title-name:first-child {
  margin-top: 0;
}

#contacts .form__content .form__content__button {
  color: #ffffff;
  font-family: "Muller", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cc0000), to(#d00000));
  background-image: linear-gradient(to top, #cc0000 0%, #d00000 100%);
  border: none;
  width: 100%;
  height: 65px;
  margin-top: 30px;
  margin-bottom: 17px;
}

#contacts .form__content .form__content__button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c10b0b), to(#e42626));
  background-image: linear-gradient(to top, #c10b0b 0%, #e42626 100%);
}

@media screen and (max-width: 830px) and (min-width: 768px) {
  #contacts .form__content .form__content__button {
    font-size: 16px;
  }
}

#contacts .form__content .form__content__title-info {
  text-align: center;
  color: #000000;
  font-family: "Muller", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

#contacts .contacts__info {
  margin-left: 78px;
  margin-top: 30px;
}

#contacts .contacts__info .info__name {
  color: #000000;
  font-weight: bold;
  font-family: "Muller", sans-serif;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 78px;
}

#contacts .contacts__info .info__subtitle {
  color: #000000;
  font-family: "Muller", sans-serif;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 15px;
}

#contacts .contacts__info .info__phone {
  font-size: 17px;
  font-family: "Muller", sans-serif;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 28px;
}

#contacts .contacts__info .info__email {
  color: #000000;
  font-family: "Muller", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: underline;
  margin-bottom: 25px;
}

#contacts .contacts__info .time__content {
  fony-family: "Muller", sasns-serif;
  color: #000000;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}

#contacts .contacts__info .time__content:first-child {
  margin-bottom: 32px;
}

footer {
  background-color: #0e0e0e;
  padding-top: 34px;
  padding-bottom: 47px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .footer__developers {
  color: #ffffff;
  font-size: 13px;
  font-family: "Muller", sans-serif;
  font-weight: 300;
  line-height: 22px;
}

footer .container .footer__developers img {
  margin-left: 28px;
}
/*# sourceMappingURL=main.css.map */