body {
  font-family: "Muller";
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.float__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 31px;
}

.float__menu .contact__number {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: bold;
  line-height: 22px;
}

.float__menu nav {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.14px;
}

.float__menu nav a {
  color: #1c1c1c;
  padding: 0 15px;
}

.float__menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.float__menu .callback__button {
  font-family: "Proxima Nova Rg", sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #c91111;
}

.float__menu .callback__button:hover {
  background-color: #0f0f0f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c10b0b), to(#e42626));
  background-image: linear-gradient(to top, #c10b0b 0%, #e42626 100%);
}

header {
  margin-bottom: 20px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content .header__logo .logo__name {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: bold;
  font-size: 23px;
  margin-left: 10px;
}

.header__content .header__title {
  font-family: "Proxima Nova Lt", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #1c1c1c;
  line-height: 22px;
  letter-spacing: 0.14px;
}

.header__content .header__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content .header__app .app__callback-number {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #1c1c1c;
  letter-spacing: 0.18px;
  line-height: 22px;
}

.header__content .header__app .app__button {
  margin-left: 30px;
}

.header__content .header__app .app__button a {
  padding: 10px;
  border: 1px solid #e42626;
  border-radius: 5px;
}

.header__content .header__app .app__button a img {
  height: 20px;
}

.top__content {
  background-image: url(../img/bg__top.jpg);
  padding-top: 130px;
  padding-bottom: 153px;
  background-size: cover;
  background-repeat: no-repeat;
}

.top__content .content__info .info__head {
  color: #ffffff;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 65px;
}

.top__content .content__info .info__head span {
  font-size: 40px;
  text-transform: uppercase;
}

.top__content .content__info .info__title {
  color: #ffffff;
  font-family: "Proxima Nova Lt", sans-serif;
  font-weight: 300;
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 91px;
}

.top__content .content__info .info__title span {
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 700;
}

.top__content .content__info .info__button .button__link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700px;
  line-height: 26px;
  font-family: "Proxima Nova Rg", sans-serif;
  padding: 25px 49px 25px 43px;
  background-color: #c91111;
  border-radius: 5px;
}

.top__content .content__info .info__button .button__link:hover {
  background-color: #0f0f0f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c10b0b), to(#e42626));
  background-image: linear-gradient(to top, #c10b0b 0%, #e42626 100%);
}

#services__provided {
  padding-top: 100px;
  padding-bottom: 98px;
}

.section__name {
  color: #1c1c1c;
  font-size: 30px;
  font-weight: 700;
  font-family: "Proxima Nova Bold", sans-serif;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 22px;
}

#services__provided .provided__block {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#services__provided .provided__block .provided__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  margin-bottom: 95px;
}

#services__provided .provided__block .provided__item img {
  margin-right: 30px;
}

#services__provided .provided__block .provided__item .item__title {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.16px;
}

#about__services {
  background-image: url(../img/about__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  padding-bottom: 98px;
}

#about__services .section__name {
  color: #ffffff;
  margin-bottom: 79px;
}

#about__services .about__title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 85px;
}

#about__services .about__title .about__title-content {
  font-size: 16px;
  font-family: "Proxima Nova Lt", sans-serif;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.16px;
}

#about__services .about__title .about__title-content:first-child {
  margin-bottom: 30px;
}

#about__services .about__statistics {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#about__services .about__statistics .statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 154px;
  font-family: "Proxima Nova Rg", sans-serif;
  text-align: center;
}

#about__services .about__statistics .statistics__item .item__number {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-bottom: 29px;
}

#about__services .about__statistics .statistics__item .item__number span {
  font-size: 24px;
  letter-spacing: 0.24px;
}

#about__services .about__statistics .statistics__item .item__title {
  font-size: 16px;
  font-weight: 300;
  font-family: "Proxima Nova Lt", sans-serif;
  line-height: 22px;
  letter-spacing: 0.16px;
}

#use__services {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 98px;
}

#use__services .services__box {
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#use__services .services__box .services__item {
  width: 33.3333%;
  text-align: center;
}

#use__services .services__box .services__item img {
  height: 90px;
}

#use__services .services__box .services__item .item__title {
  margin-top: 54px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.16;
  font-weight: 300;
  font-family: "Proxima Nova Lt", sans-serif;
  color: #1c1c1c;
}

#use__services .services__box .services__item:last-child .item__title {
  font-weight: 700;
  font-family: "Proxima Nova Bold", sans-serif;
}

#advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}

#advantages .section__name {
  line-height: 30px;
}

#advantages .advantages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

#advantages .advantages__info .info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#advantages .advantages__info .info__content .position__name {
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 45px;
  letter-spacing: 0.13px;
  margin-bottom: 34px;
}

#advantages .advantages__info .info__content .position__name li {
  text-align: right;
  color: #000000;
}

#advantages .advantages__info .info__content .comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  margin-left: 29px;
}

#advantages .advantages__info .info__content .comparison .comparison__content {
  padding: 34px 0;
  text-align: center;
}

#advantages .advantages__info .info__content .comparison .comparison__content .comparison__name {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.14;
}

#advantages .advantages__info .info__content .comparison .comparison__content li {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: 0.13px;
}

#advantages .advantages__info .info__content .comparison .comparison__one {
  color: #ffffff;
  -webkit-box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
          box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
  background-color: #26b83a;
  width: 50%;
}

#advantages .advantages__info .info__content .comparison .comparison__two {
  color: #000;
  width: 50%;
  border: 1px solid #e8e8e8;
}

#advantages .advantages__info .info__content .comparison .comparison__two li {
  color: #000000;
}

#advantages .advantages__info .info__statistics {
  margin-left: 40px;
}

#advantages .advantages__info .info__statistics .statistics__name {
  margin-bottom: 34px;
  color: #1c1c1c;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.16px;
}

#advantages .advantages__info .info__statistics .statistics__content {
  margin-bottom: 47px;
}

#advantages .advantages__info .info__statistics .statistics__content li {
  color: #1c1c1c;
  line-height: 45px;
  font-weight: 300;
  letter-spacing: 0.16px;
  font-family: "Proxima Nova Rg", sans-serif;
}

#advantages .advantages__info .info__statistics .statistics__content li .icon {
  width: 25px;
  margin-right: 20px;
}

#advantages .advantages__info .info__statistics .statistics__content li .number {
  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
}

#advantages .advantages__info .info__statistics .statistics__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
  line-height: 40px;
  font-family: "Proxima Nova Bold", sans-serif;
  padding: 26px 85px 27px 80px;
  background-color: #c91111;
  border-radius: 5px;
}

#advantages .advantages__info .info__statistics .statistics__button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c11717), to(#e42626));
  background-image: linear-gradient(to top, #c11717 0%, #e42626 100%);
}

#application {
  background-image: url("../img/application__bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

#application .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#application .application__content {
  width: 530px;
}

#application .application__content .content__name {
  color: #ffffff;
  font-family: "Muller", sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1.5px;
  margin-bottom: 110px;
}

#application .application__content .content__list {
  width: 530px;
}

#application .application__content .content__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #ffffff;
  font-family: "Muller", sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
}

#application .application__content .content__list li .list__number {
  font-weight: 400;
  font-family: "Muller Medium", sans-serif;
  font-size: 18px;
  color: #e41e1e;
  padding-right: 20px;
}

#application .application__button {
  width: 260px;
  margin-top: 33px;
  margin-left: 162px;
}

#application .application__button a img {
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */